# Configuración de seguridad (cambiar en producción)
SECRET_KEY=django-insecure-change-me-to-something-random
DEBUG=True

# Base de Datos (en Docker, el DB_HOST suele ser el nombre del servicio: 'db')
DB_NAME=siceme
DB_USER=siceme_user
DB_PASSWORD=una_contraseña_muy_segura
DB_HOST=db
DB_PORT=3306

# Verificación de Email
REQUIRE_EMAIL_VERIFICATION=False
EMAIL_HOST_USER=tu_email@gmail.com
EMAIL_HOST_PASSWORD=tu_app_password_de_gmail

# ReCaptcha
RECAPTCHA_PUBLIC_KEY=tu_public_key_aqui
RECAPTCHA_PRIVATE_KEY=tu_private_key_aqui

# Registro
ADMIN_REGISTRATION_CODE=SICEME_ADMIN_2024
