# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
db.sqlite3
db.sqlite3-journal
media/
static_root/
staticfiles/

# Entorno y Secretos
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# SO
Thumbs.db
desktop.ini
.DS_Store
